#certifications h2{
    padding: 10px;
    
    
}
#certifications .cert-grid{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
   
    gap: 10px;
    ;
   
    
}
.cert-grid div{
    font-family: "EB Garamond", serif;
    
box-shadow: 0 13px 25px rgba(127, 240, 240, 0.287);
    margin: 3px ;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 10px;
    width: 350px;
    border-radius: 3%;
    cursor: default;
    

    
}
.cert-grid div:hover{
    transform: scale(1.02);
}
.cert-grid img{
    width: 250px;
    height: 200px;
    margin: 30px 5px;
    padding-left: 11px;
    border-radius: 10px;

    
}
.cert-grid h3{
    margin: 5px 2px;
    font-family:"EB Garamond", serif;
    font-size: 25px;

}
.vrf{
    text-decoration: none;
    color: white;
    background: #325f63;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: 500;
    display: inline-block;
    margin: 10px 0px;
    cursor: pointer;
}