.text{
    font-size: 25px;
    /* margin-top: 5%;
    margin-left: 20%; */
    padding: 10px;
    font-family: "Playfair Display", serif;
    margin: 1% 3%;
    width: 50%;
    /* border: 1px rgb(29, 195, 192) solid; */
    border-radius: 10px;

}
.text h3{
    margin:3px 0

}
/* .text h2{
    margin-left:10px
} */
.text p{
    font-size: 20px;
    padding: 3px 0px;
    font-family: "Caveat", cursive;
}

.allhero{
    display: flex;
    justify-content: space-between;
    
}
.img{
    border: 1px solid rgb(183, 234, 243);
    border-radius: 50%;
    width: 320px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px 7px rgb(105, 230, 224);
    margin-right: 13%;
    margin-top: 3%;
    object-fit:scale-down ;
}
.col{
    /* color: rgb(78, 215, 245); */
    color:rgb(105, 230, 224)
}